body {
  font-family: "Orbitron", sans-serif;
}
h1 {
  font-size: 20px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

li {
  list-style: none;
  font-size: 20px;
  font-weight: 100px;
  line-height: 20px;
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
}

.weather-wrap {
  width: 1000px;
  height: 540px;
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  border: 5px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
  background-image: url("pink-city.jpg");
  background-size: 1000px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature ion-icon {
  position: relative;
  margin-right: 10px;
  height: 64px;
  width: 64px;
  top: 10px;
  font-size: 60px;
}

.weather-temperature strong {
  color: black;
  position: relative;
  font-size: 64px;
  line-height: 1px;
  font-weight: 400;
  top: 40px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: 20px;
}

.weather-temperature .active {
  color: palevioletred;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  font-size: 13px;
}

#button {
  background-color: #a569a0;
}

#current {
  background-color: #eb8cae;
  position: static;
}
